/Homework/Assignment_2/nbproject/private/
/Homework/Assignment_2/build/
/Homework/Assignment_3/nbproject/private/
/Homework/Assignment_3/build/
/Homework/Assignment_4/nbproject/private/
/Homework/Assignment_4/build/